.form {
  margin-top: 18px;
}

.input {
  width: auto;
  min-width: 60%;
  display: inline-block;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid lightgray;
  border-radius: 12px;
  outline: none;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input:hover{
  border: 2px solid black;
}

.input:focus {
  border: 3px solid blue;
}

.page {
  display: inline-block;
  padding-left: 12px;
}

.page-button {
  color: blue;
  background-color: white;
  height: 36px;
  width: 36px;
  border: 1px solid blue;
  border-radius: 6px;
}

.page-button:hover {
  cursor: pointer;
}

.page-button:focus,
.page-active-button {
  color: white;
  background-color: blue;
  height: 36px;
  width: 36px;
  border: 1px solid blue;
  border-radius: 6px;
}

.select {
  display: inline-block;
  padding-left: 12px;
}

.inner-select {
  margin-top: 50%;
  margin-top: -12px;
  height: 36px;
  width: 72px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 6px;
  position: relative;
  color: black;
  outline: none;
}

.inner-select:hover {
  border: 2px solid black
}

.inner-select:focus {
  border: 3px solid blue;
}

.select-options:hover {
  cursor: pointer;
}

.changers {
  display: inline-block;
  padding-left: 12px;
  text-align: center;
}

.changers-button {
  height: 36px;
  width: 36px;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.changers-button:hover {
  cursor: pointer;
}
